*.pyc
/.sconsign.dblite
/Local.sc
/Local.sc.bck
/build
/debug
/docs/doxygen/
/logcabin*.conf
/scripts/localconfig.py
/smoketest*.conf
/smoketeststorage
/storage
.DS_Store
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.vpwhist
_gsdata_/
